<%- include("header") %>

<!-- Title -->

<section class="colored-section page-hero light-text" id="title">
  <div class="row constrained">
    <div class="col-lg-4 title-row container-fluid-lg">
      <h1 class="big-heading"> About Us
      </h1>
    </div>
  </div>
</section>

<!-- Intro -->

<section class="colored-section2 section-left">
  <div class="row container-small constrained">
    <div class="container-small col-lg-6">
      <h6>WHO WE ARE</h6>
      <br>
      <h1>The Unified Strength to Overcome Challenge</h1>
      <br>
      <h5>
        PMV in itself is an acronym. Preciado. Mendez. Villasenor. <br><br>
        These are the family names that run PMV Installations Inc. This company is both family -owned, and family-operated. <br><br>
        When working with PMV, not only are you getting the job done, you're getting professionalism, education, and years of experience.
        <h5>
    </div>
    <div class="col-lg-6">
      <img class="workers-img" src="compressed/People/pmv-chicago-installations-temps-workers-2.JPG" alt="team-members">
    </div>
  </div>
</section>

<!-- Team Members -->

<section class="white-section section-left ">
  <div class="constrained">


  <h1>Meet Our Team</h1>
  <hr>
  <div class="row mb-2 container-fluid">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <img class="bd-placeholder-img" src="images/alejandro-erick-mendez3.jpg" alt="Pick module" width="200" height="250">
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <h2 class="mb-0">Alejandro E. Mendez</h2>
          <h5>Director of Operations</h5>
          <p class="card-text mb-auto">Alejandro has worked at PMV for 3 years and is impressively skilled at managing PMV's daily functions. You can find him taking care of busniess at a coffee shop in Wicker Park, or playing Elden Ring on his down
            time.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <img class="bd-placeholder-img" src="images/unknown.jpg" alt="Pick module" width="200" height="250">
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <h2 class="mb-0">Alejandro Preciado</h2>
          <h5>Vice President of Operations</h5>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <img class="bd-placeholder-img" src="images/alejandro-mendez.jpg" alt="Pick module" width="200" height="250">
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <h2 class="mb-0">Alejandro Mendez</h2>
          <h5>Vice President of Human Resources</h5>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <img class="bd-placeholder-img" src="images/guillermo-villasenor.jpg" alt="Pick module" width="200" height="250">
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <h2 class="mb-0">Guillermo Villasenor</h2>
          <h5>Vice President of Administration</h5>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <img class="bd-placeholder-img" src="images/unknown.jpg" alt="Pick module" width="200" height="250">
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <h2 class="mb-0">Giovany Preciado</h2>
          <h5>Director of Human Resources</h5>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <img class="bd-placeholder-img" src="images/unknown.jpg" alt="Pick module" width="200" height="250">
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <h2 class="mb-0">Alonso Mendez</h2>
          <h5>Project Manager</h5>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Outro -->

  <div class="row container-tiny">
    <div class="col-lg-6">
      <img class="point-img" src="compressed/People/installations.JPG" alt="people-pointing">
    </div>
    <div class="col-lg-6">
      <h2>Proud Beginnings</h2>
      <br>
      <p>
        PMV knows hard work, it was bred by it. Coming into this country with hope and strong attitudes, the owners of PMV worked hard
        to make a life in one of America's toughest industrial cities- Chicago. <br><br>
        Following a straight path to citizenship,
        the young owners threw themselves into their work: Warehouse equipment and storage installations. Only discipline and grit
        pushed the owners to excel in their field. <br><br>
        This company is a testament to their determined attitudes; after realizing that they
        had spent their whole lives working in this field, they knew it was time to work for themselves. <br><br>
        Warehouse equipment and storage
        installations is PMV line's of work. It has been even before PMV was officially mandated.
      </p>
    </div>
  </div>
  </div>
</section>

<!-- Features -->

<section class="colored-section container-tiny" id="features">
  <div class="constrained">
    <div class="row">
      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-handshake fa-4x"></i>
        <h3 class="feature-title">Reliable.</h3>
        <p>Our employees work safely and skillfully.</p>
      </div>
      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-car-side fa-4x"></i>
        <h3 class="feature-title">Versatile.</h3>
        <p>We'll come to you- so long as you're not accross an ocean.</p>
      </div>
      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-circle-check fa-4x"></i>
        <h3 class="feature-title">Quality.</h3>
        <p>We focus on giving you the best service possible.</p>
      </div>
    </div>
  </div>
</section>

<%- include("footer") %>
