<%- include("header") %>

<!-- Title -->

<section class="colored-section page-hero light-text" id="title">
  <div>
    <div class="row constrained">
      <div class="col-lg-4 title-row container-fluid-lg">
        <h1 class="big-heading"> Careers
        </h1>
      </div>
    </div>
  </div>
</section>

<!-- Careers -->

<div class="white-section container-fluid">
  <main class="form-signin">
    <form action="https://formsubmit.co/6ed5438828438ae11b4981e59c54d865" method="POST">
      <img src="/images/PMVLogo.png" alt="" width="72" height="57">
      <h1>Inquiry Form</h1>
      <p> We are looking for dedicated and intrinsically motivated candidates with construction or installation experience that are willing to travel the country. An ideal candidate should be able, familiar working with tools or heavy machinery,
        able to work in a team, and able to think on their feet. If you are interested, please fill out our career inquiry form below, and we will reach out to you if we find you are a good fit for one of our teams. Thank you for expressing interest
        in joining the PMV Corps family.</p>
      <div class="row">
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="First Name" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">First Name</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="Last Name" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Last Name</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="email" class="form-control" name="Email" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="Phone" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Phone Number</label>
        </div>
        <div class="form-floating col-lg-4">
          <input type="text" class="form-control" name="Address" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Street address</label>
        </div>
        <div class="form-floating col-lg-4">
          <input type="text" class="form-control" name="City" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">City</label>
        </div>
        <div class="form-floating col-lg-2">
          <input type="text" class="form-control" name="State" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">State</label>
        </div>
        <div class="form-floating col-lg-2">
          <input type="text" class="form-control" name="Postal Code" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Postal Code</label>
        </div>
      </div>
      <div class="row">
        <div class="form-floating col-lg-12">
          <input type="text" class="form-control" name="Inhibiting Factors" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px; height: 80px;">
          <label for="floatingInput">List here any reasons you might not be able to perform the functions listed in the job description:</label>
        </div>
        <div class="form-floating col-lg-12">
          <input type="text" class="form-control" name="Previous Experience" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px; height: 80px;" >
          <label for="floatingInput">List here any previous work experience:</label>
        </div>
        <div class="form-floating col-lg-12">
          <input type="text" class="form-control" name="Certifications Or Traning" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px; height: 80px;">
          <label for="floatingInput">List here any related experience, certifications, or training:</label>
        </div>
        <div class="form-floating col-lg-12">
          <input type="text" class="form-control" name="Medical Conditions" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px; height: 80px;">
          <label for="floatingInput">List here any medical conditions you have or might have:</label>
        </div>
        <div class="form-floating col-lg-12">
          <input type="text" class="form-control" name="Languages" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px; height: 80px;">
          <label for="floatingInput">List here any known languages:</label>
        </div>
        <div class="form-floating col-lg-12">
          <input type="text" class="form-control" name="Expected Salary" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px; height: 80px;">
          <label for="floatingInput">Rate of expected pay: </label>
        </div>
      </div>
      <div class="row container-small section-left">
        <div class="col-lg-6">
          <label for="">Are you currently employed?</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Employed" id="inlineRadio1" value="Yes">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Employed" id="inlineRadio2" value="No">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
        <div class="col-lg-6">
          <label for="">Do you have the right to work in the US?</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Can work in US" id="inlineRadio1" value="Yes">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Can work in US" id="inlineRadio2" value="No">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <div class="row container-small section-left">
        <div class="col-lg-6">
          <label for="">Have you worked with us before?</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Previous PMV Experience" id="inlineRadio1" value="Yes">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Previous PMV Experience" id="inlineRadio2" value="No">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
        <div class="col-lg-6">
          <label for="">Are you able to lift more than 50lbs?</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Can Lift 50lbs or More" id="inlineRadio1" value="Yes">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Can Lift 50lbs or More" id="inlineRadio2" value="No">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <div class="row container-small section-left">
        <div class="col-lg-6">
          <label for="">Do you have a driver's license and a working vehicle ?</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Liscence + Vehicle" id="inlineRadio1" value="Yes">
            <label class="form-check-label" for="inlineRadio3">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Liscence + Vehicle" id="inlineRadio2" value="No">
            <label class="form-check-label" for="inlineRadio4">No</label>
          </div>
        </div>
        <div class="col-lg-6">
          <label for="">Are you willing to travel out of state for work?</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Willing to Travel" id="inlineRadio1" value="Yes">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Willing to Travel" id="inlineRadio2" value="No">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
  </main>
</div>

<%- include("footer") %>
