<%- include("header") %>

<!-- Title -->

<section class="colored-section page-hero light-text" id="title">
    <div class="row constrained">
      <div class="col-lg-4 title-row container-fluid-lg">
        <h1 class="big-heading"> Contact
        </h1>
      </div>
    </div>
</section>

<!-- Contact -->

<section class="white-section" id="contact">
  <main class="form-signin2">
    <form class="container-fluid" action="https://formsubmit.co/6ed5438828438ae11b4981e59c54d865" method="POST">
      <img src="/images/PMVLogo.png" alt="" width="72" height="57">
      <h1>Request a Quote</h1>
      <br>
      <div class="row">
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="name" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="address" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px">
          <label for="floatingInput">Address</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="phone" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px">
          <label for="floatingInput">Phone Number</label>
        </div>
        <div class="form-floating col-lg-12">
          <input type="text" class="form-control" name="subject" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Subject</label>
        </div>
        <div class="form-floating col-lg-12 " style="margin-bottom: 5px">
          <textarea class="form-control form-control-lg" name="message" id="floatingInput" rows="10" cols="70" style="margin-bottom: 5px; height: 138px;"></textarea>
          <label for="floatingInput">Message</label>
        </div>
      </div>
      <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Check to Subscribe to PMVCorporations
          </label>
        </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
    </form>
  </main>
</section>

<!-- Testimonials -->

<section class="colored-section2 container-fluid" id="testimonials">
  <div id="carouselExampleControls" class="constrained carousel slide" data-bs-ride="false">
    <div class="carousel-inner container-fluid-lg3">
      <div class="carousel-item active" style="padding-bottom: 50px">
        <h5 class="testimonial-text">
          "I began working with PMV Installations in 2020. As a material handling installation company, they specialize in
          conveyor, pallet rack, mezzanines, and much more. Their crew is very knowledgeable and hard working. No job is too
          large or too small and they work well with the end customer. Our customers expect the highest level of performance
          from all aspects of what we offer, including the installation of material handling systems. In our customers eyes, the
          installers we contract are a direct reflection of our company. PMV Installations have consistently met our expectations
          and in many cases exceeded them. Starting and finishing a project on time and within budget is never in question.
          Performing the work with the utmost professionalism is done every time. PMV Installations have completed several jobs
          for us without disappointment. Their high speed and exceptional attention to detail is what we have become
          accustomed to. I can assure you; you will not be disappointed with PMV Installations!"</h5>
        <p><em>- Justin R. Brown,
            Chief Operating Officer,
            Green Earth Building Maintenance</em></p>
      </div>

      <!-- UNCOMMENT TO ADD TESTIMONIALS -->

      <!-- <div class="carousel-item" style="padding-bottom: 50px">
        <h4 class="testimonial-text">"When I see the PMV vests on site, I know the job's getting done quickly.</h4>
        <em>- Employee, Company B</em>
      </div>
      <div class="carousel-item" style="padding-bottom: 50px">
        <h4 class="testimonial-text">"I was very impressed with PMV's services. Quality and efficiency was just what we were looking for."</h4>
        <em>- Cheif Executive Officer, Company C</em>
      </div> -->

    </div>

    <!-- UNCOMMENT TO ACTIVATE BUTTONS -->

    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->

  </div>
</section>

<%- include("footer") %>
