<footer class="footer-section" id="footer">
  <div class="row container-fluid constrained">
    <div class="col-lg-6">
      <div class=" container-tiny">
        <img class="logo" src="images/PMVCorps.png" style="width: 250px;" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="container-tiny">
        <p>alexjr@pmvcorporation.com</p>
        <p>2738 w. 59th st. Chicago, IL</p>
        <p>(443) 850-3111</p>
        <a href="https://www.facebook.com/pmv.instillation.5"><i class="social-icon fa-brands fa-facebook-f"></i></a>
        <a href="https://twitter.com"><i class="social-icon fa-brands fa-twitter"></i></a>
        <a href="https://gmail.com"><i class="social-icon fa-solid fa-envelope"></i></a>
      </div>
    </div>
    <p>© Copyright PMV Corporations 2022–2023</p>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox-plus-jquery.min.js"></script>
</body>
</html>
