<%- include("header") -%>


<!-- Title -->

<section class="home-hero1 light-text" id="home-title" width="100vw">

  <div class="">
    <div class="row ">
      <div class="col-lg-4  container-fluid-lg">
        <a href="Installations">
          <button type="button" class="btn btn-outline-dark btn-sm title-btn strong-button">
            <img src="images/PMVInstall1.png" alt="" width="300">
          </button>
        </a>
        <h1 class="big-heading title-row"> You name it, <br>we install it.</h1><br>
      </div>
    </div>
  </div>

</section>

<section class="colored-section container-tiny" id="features">
  <div class="constrained">
    <div class="row">
      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-handshake fa-4x"></i>
        <h3 class="feature-title">Reliable.</h3>
        <p>Our employees work safely and skillfully.</p>
      </div>

      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-car-side fa-4x"></i>
        <h3 class="feature-title">Versatile.</h3>
        <p>We'll come to you- so long as you're not accross an ocean.</p>
      </div>

      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-circle-check fa-4x"></i>
        <h3 class="feature-title">Quality.</h3>
        <p>We focus on giving you the best service possible.</p>
      </div>
    </div>
  </div>
</section>

<section class="home-hero2 light-text" id="home-title" width="100vw">
  <div class="container-fluid-lg2">
    <div class="row">
      <div class="col-lg-3 title-row">
      </div>
      <div class="col-lg-3 title-row">
      </div>
      <div class="col-lg-3 title-row">
      </div>
      <div class="col-lg-3 ">
        <a href="Temps">
          <button type="button" class="btn btn-outline-dark btn-sm title-btn strong-button">
            <img src="images/PMVTemp1.png" alt="" width="300">
          </button>
        </a>
        <h1 class="big-heading title-row"> Hire our temps today!</h1><br>
      </div>
    </div>
  </div>
</section>


<%- include("footer") %>
