<%- include("header") -%>

<!-- Title -->

<section class="installations-hero light-text" id="installations-title">
  <div class="constrained">
    <div class="row ">
      <div class="col-lg-4 title-row container-fluid-lg">
        <h1 class="big-heading"> Meeting your <br>warehouse <br>storage needs.
          <a href="contact">
            <button type="button" class="btn btn-primary btn-lg download-btn strong-button">
              <i class="fa-solid fa-comment-dollar"></i> Get a Quote
            </button>
          </a>
        </h1>
      </div>
    </div>
  </div>
</section>

<!-- Services -->

<section class="white-section section-left container-fluid" id="services">
  <div class="constrained">
    <h1 class="big-heading">Our Services</h1>
    <hr>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" src="compressed/Pick Module Houston/houston-pick-module-installation-project-6.jpg" alt="Pick module" width="200" height="250">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Pick Modules</h3>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-6.jpg" data-lightbox="Houston Pick Module">View Gallery</a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-7.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-2.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-3.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-4.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-5.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-1.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" src="compressed/Mezzanines McCormick Place/chicago-mezzanine-installation-project-5.jpg" alt="Mezzanines" width="200" height="250">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Mezzanines</h3>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="compressed/Mezzanines McCormick Place/chicago-mezzanine-installation-project-3.jpg" data-lightbox="Mezzanine">View Gallery</a>
            <a href="compressed/Mezzanines McCormick Place/chicago-mezzanine-installation-project-4.JPG" data-lightbox="Mezzanine" id="projectGallery" style="display: none"></a>
            <a href="compressed/Mezzanines McCormick Place/chicago-mezzanine-installation-project-1.JPG" data-lightbox="Mezzanine" id="projectGallery" style="display: none"></a>
            <a href="compressed/Mezzanines McCormick Place/chicago-mezzanine-installation-project-2.JPG" data-lightbox="Mezzanine" id="projectGallery" style="display: none"></a>
            <a href="compressed/Mezzanines/mezzanine-installation-project-1.jpg" data-lightbox="Mezzanine" id="projectGallery" style="display: none"></a>
            <a href="compressed/Mezzanines/mezzanine-installation-project-2.jpg" data-lightbox="Mezzanine" id="projectGallery" style="display: none"></a>
            <a href="compressed/Mezzanines/mezzanine-installation-project-3.jpg" data-lightbox="Mezzanine" id="projectGallery" style="display: none"></a>
            <a href="compressed/Mezzanines/mezzanine-installation-project-4.jpg" data-lightbox="Mezzanine" id="projectGallery" style="display: none"></a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" src="compressed/Conveyor/conveyor-installation-project-9.jpg" alt="Conveyor" width="200" height="250">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Conveyors</h3>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="compressed/Conveyor/conveyor-installation-project-1.jpg" data-lightbox="Conveyor">View Gallery</a>
            <a href="compressed/Conveyor/conveyor-installation-project-2.jpg" data-lightbox="Conveyor" id="projectGallery" style="display: none"></a>
            <a href="compressed/Conveyor/conveyor-installation-project-3.jpg" data-lightbox="Conveyor" id="projectGallery" style="display: none"></a>
            <a href="compressed/Conveyor/conveyor-installation-project-4.jpg" data-lightbox="Conveyor" id="projectGallery" style="display: none"></a>
            <a href="compressed/Conveyor/conveyor-installation-project-5.jpg" data-lightbox="Conveyor" id="projectGallery" style="display: none"></a>
            <a href="compressed/Conveyor/conveyor-installation-project-6.jpg" data-lightbox="Conveyor" id="projectGallery" style="display: none"></a>
            <a href="compressed/Conveyor/conveyor-installation-project-7.jpg" data-lightbox="Conveyor" id="projectGallery" style="display: none"></a>
            <a href="compressed/Conveyor/conveyor-installation-project-8.jpg" data-lightbox="Conveyor" id="projectGallery" style="display: none"></a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" src="compressed/Pushback Cart Springfield/springfield-pushback-cart-installation-project-7.jpg" alt="Pushback Cart" width="200" height="250">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Pushback Carts</h3>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-1.jpg" data-lightbox="Pushback Cart Moreno Valley">View Gallery</a>
            <a href="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-2.jpg" data-lightbox="Pushback Cart Moreno Valley" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-3.jpg" data-lightbox="Pushback Cart Moreno Valley" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-4.jpg" data-lightbox="Pushback Cart Moreno Valley" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-5.jpg" data-lightbox="Pushback Cart Moreno Valley" id="projectGallery" style="display: none"></a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" src="compressed/Carton Flow Jeffersonville/jeffersonville-carton-flow-installation-project-6.jpg" alt="Carton Flow" width="200" height="250">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Carton Flow</h3>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="compressed/Carton Flow Jeffersonville/jeffersonville-carton-flow-installation-project-1.JPG" data-lightbox="Jeffersonville Carton Flow">View Gallery</a>
            <a href="compressed/Carton Flow Jeffersonville/jeffersonville-carton-flow-installation-project-3.jpg" data-lightbox="Jeffersonville Carton Flow" id="projectGallery" style="display: none"></a>
            <a href="compressed/Carton Flow Jeffersonville/jeffersonville-carton-flow-installation-project-4.jpg" data-lightbox="Jeffersonville Carton Flow" id="projectGallery" style="display: none"></a>
            <a href="compressed/Carton Flow Jeffersonville/jeffersonville-carton-flow-installation-project-5.jpg" data-lightbox="Jeffersonville Carton Flow" id="projectGallery" style="display: none"></a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" src="compressed/Racking Portland/portland-racking-installation-project-4.jpg" alt="Racking" width="200" height="250">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Racking</h3>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="compressed/Racking Portland/portland-racking-installation-project-1.JPG" data-lightbox="Portland Racking">View Gallery</a>
            <a href="compressed/Racking Portland/portland-racking-installation-project-2.JPG" data-lightbox="Portland Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Portland/portland-racking-installation-project-3.JPG" data-lightbox="Portland Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Portland/portland-racking-installation-project-4.jpg" data-lightbox="Portland Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Portland/portland-racking-installation-project-5.JPG" data-lightbox="Portland Racking" id="projectGallery" style="display: none"></a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" src="compressed/Shelving Pomona/pomona-shelving-installation-project-6.jpg" alt="Shelving" width="200" height="250">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Shelving</h3>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-1.JPG" data-lightbox="Shelving Pomona">View Gallery</a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-2.JPG" data-lightbox="Shelving Pomona" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-3.JPG" data-lightbox="Shelving Pomona" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-4.JPG" data-lightbox="Shelving Pomona" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-5.JPG" data-lightbox="Shelving Pomona" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-6.jpg" data-lightbox="Shelving Pomona" id="projectGallery" style="display: none"></a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" src="compressed/Taping Miami/miami-taping-installation-project-7.jpg" alt="Taping" width="200" height="250">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Taping</h3>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="compressed/Taping Miami/miami-taping-installation-project-1.jpg" data-lightbox="Miami Taping">View Gallery</a>
            <a href="compressed/Taping Miami/miami-taping-installation-project-2.jpg" data-lightbox="Miami Taping" id="projectGallery" style="display: none"></a>
            <a href="compressed/Taping Miami/miami-taping-installation-project-3.jpg" data-lightbox="Miami Taping" id="projectGallery" style="display: none"></a>
            <a href="compressed/Taping Miami/miami-taping-installation-project-4.jpg" data-lightbox="Miami Taping" id="projectGallery" style="display: none"></a>
            <a href="compressed/Taping Miami/miami-taping-installation-project-5.jpg" data-lightbox="Miami Taping" id="projectGallery" style="display: none"></a>
            <a href="compressed/Taping Miami/miami-taping-installation-project-6.jpg" data-lightbox="Miami Taping" id="projectGallery" style="display: none"></a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" src="compressed/Teardown Atlanta/atlanta-teardown-installation-project-3.jpg" alt="Teardown" width="200" height="250">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Teardowns</h3>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="compressed/Teardown Atlanta/atlanta-teardown-installation-project-3.jpg" data-lightbox="Teardown">View Gallery</a>
            <a href="compressed/Teardown Atlanta/atlanta-teardown-installation-project-1.jpg" data-lightbox="Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Atlanta/atlanta-teardown-installation-project-2.jpg" data-lightbox="Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-1.JPG" data-lightbox="Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-2.JPG" data-lightbox="Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-3.JPG" data-lightbox="Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-4.JPG" data-lightbox="Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-5.JPG" data-lightbox="Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-6.JPG" data-lightbox="Teardown" id="projectGallery" style="display: none"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Credentials -->

<section class="colored-section2 container-fluid" id="credentials">
  <div class="constrained">

    <h1>OUR CREDENTIALS</h1>
    <hr>
    <div class="row ">
      <div class="col-lg-6 section-left">

        <h4><i class="fa-solid fa-square-check"></i> Fully Insured in 48 states (Nationwide work)</h4>
        <h4><i class="fa-solid fa-square-check"></i> Avetta Certified (PMV Installations)</h4>
        <h4><i class="fa-solid fa-square-check"></i> ﻿ISNetworld Certified (PMV Temp Agency)</h4>
        <h4><i class="fa-solid fa-square-check"></i> Osha-10 Certified employees</h4>
        <h4><i class="fa-solid fa-square-check"></i> Osha-30 Certified Foremen </h4>
        <h4><i class="fa-solid fa-square-check"></i> Umbrella and General Liability Insurance</h4>
        <h4><i class="fa-solid fa-square-check"></i> Workers Comp Insurance </h4>
        <h4><i class="fa-solid fa-square-check"></i> Auto Insurance </h4>
        <h4><i class="fa-solid fa-square-check"></i> Scissor Lift Certified employees</h4>
        <h4><i class="fa-solid fa-square-check"></i> Forklift Operator Licensed employees</h4>
      </div>
      <div class="col-lg-6">
        <img class="credentials-img" src="compressed/People/pmv-chicago-installations-temps-workers-8.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<!-- Contact -->

<section class="white-section" id="contact">
  <main class="form-signin2">
    <form class="container-fluid" action="https://formsubmit.co/6ed5438828438ae11b4981e59c54d865" method="POST">
      <img src="/images/PMVLogo.png" alt="" width="72" height="57">
      <h1>Request a Quote</h1>
      <br>
      <div class="row">
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="name" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="address" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px">
          <label for="floatingInput">Address</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="phone" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px">
          <label for="floatingInput">Phone Number</label>
        </div>
        <div class="form-floating col-lg-12">
          <input type="text" class="form-control" name="subject" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Subject</label>
        </div>
        <div class="form-floating col-lg-12 " style="margin-bottom: 5px">
          <textarea class="form-control form-control-lg" name="message" id="floatingInput" rows="10" cols="70" style="margin-bottom: 5px; height: 138px;"></textarea>
          <label for="floatingInput">Message</label>
        </div>
      </div>
      <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Check to Subscribe to PMVCorporations
          </label>
        </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
    </form>
  </main>
</section>

<!-- Testimonials -->

<section class="colored-section2 container-fluid" id="testimonials">
  <div id="carouselExampleControls" class="constrained carousel slide" data-bs-ride="false">
    <div class="carousel-inner container-fluid-lg3">
      <div class="carousel-item active" style="padding-bottom: 50px">
        <h5 class="testimonial-text">
          "I began working with PMV Installations in 2020. As a material handling installation company, they specialize in
          conveyor, pallet rack, mezzanines, and much more. Their crew is very knowledgeable and hard working. No job is too
          large or too small and they work well with the end customer. Our customers expect the highest level of performance
          from all aspects of what we offer, including the installation of material handling systems. In our customers eyes, the
          installers we contract are a direct reflection of our company. PMV Installations have consistently met our expectations
          and in many cases exceeded them. Starting and finishing a project on time and within budget is never in question.
          Performing the work with the utmost professionalism is done every time. PMV Installations have completed several jobs
          for us without disappointment. Their high speed and exceptional attention to detail is what we have become
          accustomed to. I can assure you; you will not be disappointed with PMV Installations!"</h5>
        <p><em>- Justin R. Brown,
            Chief Operating Officer,
            Green Earth Building Maintenance</em></p>
      </div>

      <!-- UNCOMMENT TO ADD TESTIMONIALS -->

      <!-- <div class="carousel-item" style="padding-bottom: 50px">
          <h4 class="testimonial-text">"When I see the PMV vests on site, I know the job's getting done quickly.</h4>
          <em>- Employee, Company B</em>
        </div>
        <div class="carousel-item" style="padding-bottom: 50px">
          <h4 class="testimonial-text">"I was very impressed with PMV's services. Quality and efficiency was just what we were looking for."</h4>
          <em>- Cheif Executive Officer, Company C</em>
        </div> -->

    </div>

    <!-- UNCOMMENT TO ACTIVATE BUTTONS -->

    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->

  </div>
</section>

<%- include("footer") %>
