<%- include("header") %>

<!-- Title -->

<section class="colored-section page-hero light-text" id="title">
    <div class="row constrained">
      <div class="col-lg-4 title-row container-fluid-lg">
        <h1 class="big-heading"> Projects
        </h1>
      </div>
    </div>
</section>

<!-- Projects -->

<!-- Lightbox -->

<section class="white-section container-tiny" id="projects">
  <h2 style="padding-top:50px">Here are a few projects PMV Corporations has completed.</h2>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-tiny" style="padding-bottom: 5px">
        <div class="row constrained">
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Shelving Chandler/chandler-shelving-installation-project-1.jpg" data-lightbox="Shelving Chandler"><img class="p-img hover-shadow preview" src="compressed/Shelving Chandler/chandler-shelving-installation-project-1.jpg"
                width="400" height="300" onclick="openLightbox();toSlide(2)" alt="Shelving installation project." /></a>
            <a href="compressed/Shelving Chandler/chandler-shelving-installation-project-2.jpg" data-lightbox="Shelving Chandler" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Chandler/chandler-shelving-installation-project-3.jpg" data-lightbox="Shelving Chandler" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Chandler/chandler-shelving-installation-project-4.jpg" data-lightbox="Shelving Chandler" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Chandler/chandler-shelving-installation-project-5.jpg" data-lightbox="Shelving Chandler" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Chandler/chandler-shelving-installation-project-6.jpg" data-lightbox="Shelving Chandler" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Shelving (AMAZON)</h3>
              <p>Chandler, AZ</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Mezzanines McCormick Place/chicago-mezzanine-installation-project-1.JPG" data-lightbox="Mezzanine Chicago"><img class="p-img hover-shadow preview"
                src="compressed/Mezzanines McCormick Place/chicago-mezzanine-installation-project-1.JPG" width="400" height="300" onclick="openLightbox();toSlide(1)" alt="Mezzanine installation project." /></a>
            <a href="compressed/Mezzanines McCormick Place/chicago-mezzanine-installation-project-2.JPG" data-lightbox="Mezzanine Chicago" id="projectGallery" style="display: none"></a>
            <a href="compressed/Mezzanines McCormick Place/chicago-mezzanine-installation-project-3.jpg" data-lightbox="Mezzanine Chicago" id="projectGallery" style="display: none"></a>
            <a href="compressed/Mezzanines McCormick Place/chicago-mezzanine-installation-project-4.JPG" data-lightbox="Mezzanine Chicago" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Mezzanine (MODEX 2019)</h3>
              <p>Chicago, IL</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-1.jpg" data-lightbox="Pushback Cart Moreno Valley"><img class="p-img hover-shadow preview"
                src="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-1.jpg" width="400" height="300" onclick="openLightbox();toSlide(3)" alt="Pushback Cart installation project." /></a>
            <a href="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-2.jpg" data-lightbox="Pushback Cart Moreno Valley" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-3.jpg" data-lightbox="Pushback Cart Moreno Valley" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-4.jpg" data-lightbox="Pushback Cart Moreno Valley" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pushback Cart Moreno Valley/moreno-valley-pushback-cart-installation-project-5.jpg" data-lightbox="Pushback Cart Moreno Valley" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Pushback Cart (ALDI)</h3>
              <p>Moreno Valley, CA</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Taping Miami/miami-taping-installation-project-1.jpg" data-lightbox="Miami Taping"><img class="p-img hover-shadow preview" src="compressed/Taping Miami/miami-taping-installation-project-1.jpg" width="400" height="300"
                onclick="openLightbox();toSlide(1)" alt="Taping installation project." /></a>
            <a href="compressed/Taping Miami/miami-taping-installation-project-2.jpg" data-lightbox="Miami Taping" id="projectGallery" style="display: none"></a>
            <a href="compressed/Taping Miami/miami-taping-installation-project-3.jpg" data-lightbox="Miami Taping" id="projectGallery" style="display: none"></a>
            <a href="compressed/Taping Miami/miami-taping-installation-project-4.jpg" data-lightbox="Miami Taping" id="projectGallery" style="display: none"></a>
            <a href="compressed/Taping Miami/miami-taping-installation-project-5.jpg" data-lightbox="Miami Taping" id="projectGallery" style="display: none"></a>
            <a href="compressed/Taping Miami/miami-taping-installation-project-6.jpg" data-lightbox="Miami Taping" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Taping (AMAZON)</h3>
              <p>Miami, FL</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Carton Flow Jeffersonville/jeffersonville-carton-flow-installation-project-1.JPG" data-lightbox="Jeffersonville Carton Flow"><img class="p-img hover-shadow preview"
                src="compressed/Carton Flow Jeffersonville/jeffersonville-carton-flow-installation-project-1.JPG" width="400" height="300" onclick="openLightbox();toSlide(2)" alt="Carton Flow installation project." /></a>
            <a href="compressed/Carton Flow Jeffersonville/jeffersonville-carton-flow-installation-project-3.jpg" data-lightbox="Jeffersonville Carton Flow" id="projectGallery" style="display: none"></a>
            <a href="compressed/Carton Flow Jeffersonville/jeffersonville-carton-flow-installation-project-4.jpg" data-lightbox="Jeffersonville Carton Flow" id="projectGallery" style="display: none"></a>
            <a href="compressed/Carton Flow Jeffersonville/jeffersonville-carton-flow-installation-project-5.jpg" data-lightbox="Jeffersonville Carton Flow" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Carton Flow (KENCO LOGISTICS)</h3>
              <p>Jeffersonville, IN</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Shelving Atlanta/atlanta-shelving-installation-project-1.JPG" data-lightbox="Atlanta Shelving"><img class="p-img hover-shadow preview" src="compressed/Shelving Atlanta/atlanta-shelving-installation-project-1.JPG"
                width="400" height="300" onclick="openLightbox();toSlide(3)" alt="Shelving installation project." /></a>
            <a href="compressed/Shelving Atlanta/atlanta-shelving-installation-project-2.JPG" data-lightbox="Atlanta Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Atlanta/atlanta-shelving-installation-project-3.JPG" data-lightbox="Atlanta Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Atlanta/atlanta-shelving-installation-project-4.JPG" data-lightbox="Atlanta Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Atlanta/atlanta-shelving-installation-project-5.JPG" data-lightbox="Atlanta Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Atlanta/atlanta-shelving-installation-project-6.JPG" data-lightbox="Atlanta Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Atlanta/atlanta-shelving-installation-project-7.jpg" data-lightbox="Atlanta Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Atlanta/atlanta-shelving-installation-project-8.jpg" data-lightbox="Atlanta Shelving" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Shelving (AMAZON)</h3>
              <p>Atlanta, GA</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item container-tiny" style="padding-bottom: 5px">
        <div class="row constrained">
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Pick Module Oklahoma/oklahoma-pick-module-installation-project-1.jpg" data-lightbox="Oklahoma City Pick Module"><img class="p-img hover-shadow preview"
                src="compressed/Pick Module Oklahoma/oklahoma-pick-module-installation-project-1.jpg" width="400" height="300" onclick="openLightbox();toSlide(1)" alt="Pick Module installation project." /></a>
            <a href="compressed/Pick Module Oklahoma/oklahoma-pick-module-installation-project-2.jpg" data-lightbox="Oklahoma City Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Oklahoma/oklahoma-pick-module-installation-project-3.jpg" data-lightbox="Oklahoma City Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Oklahoma/oklahoma-pick-module-installation-project-4.jpg" data-lightbox="Oklahoma City Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Oklahoma/oklahoma-pick-module-installation-project-5.jpg" data-lightbox="Oklahoma City Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Oklahoma/oklahoma-pick-module-installation-project-6.jpg" data-lightbox="Oklahoma City Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Oklahoma/oklahoma-pick-module-installation-project-7.jpg" data-lightbox="Oklahoma City Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Oklahoma/oklahoma-pick-module-installation-project-8.jpg" data-lightbox="Oklahoma City Pick Module" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Pick Module (WINSUPPLY)</h3>
              <p>Oklahoma City, OK</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Specialty Homewood/homewood-specialty-installation-project-1.jpg" data-lightbox="Homewood Specialty"><img class="p-img hover-shadow preview"
                src="compressed/Specialty Homewood/homewood-specialty-installation-project-1.jpg" width="400" height="300" onclick="openLightbox();toSlide(2)" alt="Specialty installation project." /></a>
            <a href="compressed/Specialty Homewood/homewood-specialty-installation-project-2.jpg" data-lightbox="Homewood Specialty" id="projectGallery" style="display: none"></a>
            <a href="compressed/Specialty Homewood/homewood-specialty-installation-project-3.jpg" data-lightbox="Homewood Specialty" id="projectGallery" style="display: none"></a>
            <a href="compressed/Specialty Homewood/homewood-specialty-installation-project-4.jpg" data-lightbox="Homewood Specialty" id="projectGallery" style="display: none"></a>
            <a href="compressed/Specialty Homewood/homewood-specialty-installation-project-5.jpg" data-lightbox="Homewood Specialty" id="projectGallery" style="display: none"></a>
            <a href="compressed/Specialty Homewood/homewood-specialty-installation-project-6.jpg" data-lightbox="Homewood Specialty" id="projectGallery" style="display: none"></a>
            <a href="compressed/Specialty Homewood/homewood-specialty-installation-project-7.jpg" data-lightbox="Homewood Specialty" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Specialty (HOMEWOOD)</h3>
              <p></p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Shelving San Jose/san-jose-shelving-installation-project-1.jpg" data-lightbox="San Jose Shelving"><img class="p-img hover-shadow preview" src="compressed/Shelving San Jose/san-jose-shelving-installation-project-1.jpg"
                width="400" height="300" onclick="openLightbox();toSlide(3)" alt="Shelving installation project." /></a>
            <a href="compressed/Shelving San Jose/san-jose-shelving-installation-project-2.jpg" data-lightbox="San Jose Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving San Jose/san-jose-shelving-installation-project-3.jpg" data-lightbox="San Jose Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving San Jose/san-jose-shelving-installation-project-4.jpg" data-lightbox="San Jose Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving San Jose/san-jose-shelving-installation-project-5.jpg" data-lightbox="San Jose Shelving" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Shelving (AMAZON)</h3>
              <p>San Jose, CA</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-1.JPG" data-lightbox="Portland Teardown"><img class="p-img hover-shadow preview" src="compressed/Teardown Portland/portland-teardown-installation-project-1.JPG"
                width="400" height="300" onclick="openLightbox();toSlide(1)" alt="Teardown installation project." /></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-2.JPG" data-lightbox="Portland Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-3.JPG" data-lightbox="Portland Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-4.JPG" data-lightbox="Portland Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-5.JPG" data-lightbox="Portland Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Portland/portland-teardown-installation-project-6.JPG" data-lightbox="Portland Teardown" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Teardown (AMAZON)</h3>
              <p>Portland, OR</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Racking Nashville/nashville-racking-installation-project-1.jpg" data-lightbox="Nashville Racking"><img class="p-img hover-shadow preview" src="compressed/Racking Nashville/nashville-racking-installation-project-1.jpg"
                width="400" height="300" onclick="openLightbox();toSlide(2)" alt="Racking installation project." /></a>
            <a href="compressed/Racking Nashville/nashville-racking-installation-project-2.JPG" data-lightbox="Nashville Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Nashville/nashville-racking-installation-project-3.JPG" data-lightbox="Nashville Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Nashville/nashville-racking-installation-project-4.JPG" data-lightbox="Nashville Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Nashville/nashville-racking-installation-project-5.JPG" data-lightbox="Nashville Racking" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Racking (PADDYWAX)</h3>
              <p>Nashville, TN</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Pushback Cart Springfield/springfield-pushback-cart-installation-project-1.JPG" data-lightbox="Springfield Pushback Cart"><img class="p-img hover-shadow preview"
                src="compressed/Pushback Cart Springfield/springfield-pushback-cart-installation-project-1.JPG" width="400" height="300" onclick="openLightbox();toSlide(3)" alt="Pushback Cart installation project." /></a>
            <a href="compressed/Pushback Cart Springfield/springfield-pushback-cart-installation-project-2.JPG" data-lightbox="Springfield Pushback Cart" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pushback Cart Springfield/springfield-pushback-cart-installation-project-3.JPG" data-lightbox="Springfield Pushback Cart" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pushback Cart Springfield/springfield-pushback-cart-installation-project-4.JPG" data-lightbox="Springfield Pushback Cart" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pushback Cart Springfield/springfield-pushback-cart-installation-project-5.JPG" data-lightbox="Springfield Pushback Cart" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pushback Cart Springfield/springfield-pushback-cart-installation-project-6.JPG" data-lightbox="Springfield Pushback Cart" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Pushback Cart (ALDI)</h3>
              <p>Springfield, OH</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item container-tiny" style="padding-bottom: 5px">
        <div class="row constrained">
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Conveyor Albaquerque/albaquerque-conveyor-installation-project-4.jpg" data-lightbox="Albaquerque Conveyor"><img class="p-img hover-shadow preview"
                src="compressed/Conveyor Albaquerque/albaquerque-conveyor-installation-project-4.jpg" width="400" height="300" onclick="openLightbox();toSlide(1)" alt="Conveyor installation project." /></a>
            <a href="compressed/Conveyor Albaquerque/albaquerque-conveyor-installation-project-2.jpg" data-lightbox="Albaquerque Conveyor" id="projectGallery" style="display: none"></a>
            <a href="compressed/Conveyor Albaquerque/albaquerque-conveyor-installation-project-3.jpg" data-lightbox="Albaquerque Conveyor" id="projectGallery" style="display: none"></a>
            <a href="compressed/Conveyor Albaquerque/albaquerque-conveyor-installation-project-1.jpg" data-lightbox="Albaquerque Conveyor" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Conveyor (WALMART)</h3>
              <p>Albaquerque, NY</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Racking Humbolt/humbolt-racking-installation-project-1.JPG" data-lightbox="Humboldt Racking"><img class="p-img hover-shadow preview" src="compressed/Racking Humbolt/humbolt-racking-installation-project-1.jpg"
                width="400" height="300" onclick="openLightbox();toSlide(2)" alt="Racking installation project." /></a>
            <a href="compressed/Racking Humbolt/humbolt-racking-installation-project-2.JPG" data-lightbox="Humboldt Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Humbolt/humbolt-racking-installation-project-3.JPG" data-lightbox="Humboldt Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Humbolt/humbolt-racking-installation-project-4.JPG" data-lightbox="Humboldt Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Humbolt/humbolt-racking-installation-project-5.JPG" data-lightbox="Humboldt Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Humbolt/humbolt-racking-installation-project-6.JPG" data-lightbox="Humboldt Racking" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Racking (BONGARDS CREAMERIES)</h3>
              <p>Humboldt, TN</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Teardown Atlanta/atlanta-teardown-installation-project-1.jpg" data-lightbox="Atlanta Teardown"><img class="p-img hover-shadow preview" src="compressed/Teardown Atlanta/atlanta-teardown-installation-project-1.jpg"
                width="400" height="300" onclick="openLightbox();toSlide(3)" alt="Teardown installation project." /></a>
            <a href="compressed/Teardown Atlanta/atlanta-teardown-installation-project-2.jpg" data-lightbox="Atlanta Teardown" id="projectGallery" style="display: none"></a>
            <a href="compressed/Teardown Atlanta/atlanta-teardown-installation-project-3.jpg" data-lightbox="Atlanta Teardown" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Teardown (AMAZON)</h3>
              <p>Atlanta, GA</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-1.JPG" data-lightbox="Houston Pick Module"><img class="p-img hover-shadow preview"
                src="compressed/Pick Module Houston/houston-pick-module-installation-project-1.JPG" width="400" height="300" onclick="openLightbox();toSlide(3)" alt="Pick Module installation project." /></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-2.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-3.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-4.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-5.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-6.jpg" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <a href="compressed/Pick Module Houston/houston-pick-module-installation-project-7.JPG" data-lightbox="Houston Pick Module" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Pick Module</h3>
              <p>Houston, TX</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Racking Portland/portland-racking-installation-project-1.JPG" data-lightbox="Portland Racking"><img class="p-img hover-shadow preview" src="compressed/Racking Portland/portland-racking-installation-project-1.JPG"
                width="400" height="300" onclick="openLightbox();toSlide(3)" alt="Racking installation project." /></a>
            <a href="compressed/Racking Portland/portland-racking-installation-project-2.JPG" data-lightbox="Portland Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Portland/portland-racking-installation-project-3.JPG" data-lightbox="Portland Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Portland/portland-racking-installation-project-4.jpg" data-lightbox="Portland Racking" id="projectGallery" style="display: none"></a>
            <a href="compressed/Racking Portland/portland-racking-installation-project-5.JPG" data-lightbox="Portland Racking" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Racking</h3>
              <p>Portland</p>
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 100px">
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-1.JPG" data-lightbox="Pomona Shelving"><img class="p-img hover-shadow preview" src="compressed/Shelving Pomona/pomona-shelving-installation-project-1.JPG"
                width="400" height="300" onclick="openLightbox();toSlide(3)" alt="shelving installation project." /></a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-2.JPG" data-lightbox="Pomona Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-3.JPG" data-lightbox="Pomona Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-4.JPG" data-lightbox="Pomona Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-5.JPG" data-lightbox="Pomona Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-6.jpg" data-lightbox="Pomona Shelving" id="projectGallery" style="display: none"></a>
            <a href="compressed/Shelving Pomona/pomona-shelving-installation-project-7.JPG" data-lightbox="Pomona Shelving" id="projectGallery" style="display: none"></a>
            <div class="container-fluid">
              <h3>Shelving</h3>
              <p>Pomona</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- Features -->

<section class="colored-section container-tiny" id="features">
  <div class="constrained">
    <div class="row">
      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-handshake fa-4x"></i>
        <h3 class="feature-title">Reliable.</h3>
        <p>Our employees work safely and skillfully.</p>
      </div>
      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-car-side fa-4x"></i>
        <h3 class="feature-title">Versatile.</h3>
        <p>We'll come to you- so long as you're not accross an ocean.</p>
      </div>
      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-circle-check fa-4x"></i>
        <h3 class="feature-title">Quality.</h3>
        <p>We focus on giving you the best service possible.</p>
      </div>
    </div>
  </div>
</section>

<%- include("footer") %>
