<%- include("header") %>

<!-- Title -->

<section class="light-text temps-hero" id="temps-title">
  <div class="constrained">
    <div class="row ">
      <div class="col-lg-6 title-row container-fluid-lg">
        <h1 class="big-heading">A Temp Agency <br>with your best <br>interests in mind.</h1>
        <a href="contact">
          <button type="button" class="btn btn-dark btn-lg download-btn"><i class="fa-solid fa-comment-dollar"></i> Get a Quote</button>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Tiers -->

<section class="white-section container-fluid section-left" id="tier">
  <div class="constrained">
    <h1 class="big-heading section-left">Our Tier System</h1>
    <hr>
    <div class="row">
      <div class="tier-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3 class"section-heading">Tier 1</h3>
          </div>
          <div class="card-body">
            <img class="tier-img" src="compressed/People/pmv-chicago-installations-temps-workers-5.jpg" alt="tier-image">
            <h2>Inexperienced</h2>
            <p>Tier one workers are either new employees or have been with the temp agency for some
              time and are still under supervision. These workers may be an excellent new worker, or a
              worker who has been with us, but that performs very averagely.</p>
          </div>
        </div>
      </div>

      <div class="tier-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3 class"section-heading">Tier 2</h3>
          </div>
          <div class="card-body">
            <img class="tier-img" src="compressed/People/pmv-chicago-installations-temps-workers-7.JPG" alt="tier-image">
            <h2>Semi Experienced</h2>
            <p>Tier two workers are those that have proven themselves to consistently keep busy, is
              always responsible and on the move for the next task. Little supervision is required for
              these employees as they are well versed in how to complete numerous tasks.</p>
          </div>
        </div>
      </div>

      <div class="tier-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3 class"section-heading">Tier 3</h3>
          </div>
          <div class="card-body">
            <img class="tier-img" src="compressed/People/pmv-chicago-installations-temps-workers-6.jpg" alt="tier-image">
            <h2>Very Experienced</h2>
            <p>Tier three workers are the veteran employees. These workers know the ins and outs of the
              field and have developed trade secrets. These workers are those that invent crafty
              solutions to many problems on the field first-hand. They will never stop working because
              of an issue- since they will always have a solution for a task at hand. Their advice is one
              to be heard and work ethic to be admired.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Credentials -->


<section class="white-section2 container-fluid" id="credentials">
  <div class="constrained">
    <h1>OUR CREDENTIALS</h1>
    <hr>
    <div class="row ">
      <div class="col-lg-6 section-left">
        <h4><i class="fa-solid fa-square-check"></i> Fully Insured in 48 states (Nationwide work)</h4>
        <h4><i class="fa-solid fa-square-check"></i> Avetta Certified (PMV Installations)</h4>
        <h4><i class="fa-solid fa-square-check"></i> ﻿ISNetworld Certified (PMV Temp Agency)</h4>
        <h4><i class="fa-solid fa-square-check"></i> Osha-10 Certified employees</h4>
        <h4><i class="fa-solid fa-square-check"></i> Osha-30 Certified Foremen </h4>
        <h4><i class="fa-solid fa-square-check"></i> Umbrella and General Liability Insurance</h4>
        <h4><i class="fa-solid fa-square-check"></i> Workers Comp Insurance </h4>
        <h4><i class="fa-solid fa-square-check"></i> Auto Insurance </h4>
        <h4><i class="fa-solid fa-square-check"></i> Scissor Lift Certified employees</h4>
        <h4><i class="fa-solid fa-square-check"></i> Forklift Operator Licensed employees</h4>
      </div>
      <div class="col-lg-6">
        <img class="credentials-img" src="compressed/People/pmv-chicago-installations-temps-workers-8.jpg" alt="foreman">
      </div>
    </div>
  </div>
</section>

<!-- Info Why -->

<section class="colored-section2 container-fluid " id="info">
  <div class="constrained">
    <h1>WHY CHOOSE US?</h1>
    <hr>
    <div class="row">
      <div class="col-lg-6 section-left">
        <h5>There are so many temp agencies in the market, but the reason why our clients love us is that we offer a
          niche laborer that is accustomed to installation work. <br> <br>
          Many of our workers have been trained and oriented in the
          "Culture of work" that is PMV warehouse storage solution construction/installations. Our teams know the ins
          and outs of each type of system and know how to work at a pace that this field requires.
          That's why so many other installers reach out to us for our workers to supply extra hands on their jobsites. <br><br>
          Where our competition focuses on "extra hands on the jobsite", we focus on "skilled boots on the ground".
          In other words? Quality over quantity.</h5>
      </div>
      <div class="col-lg-6">
        <img class="why-img" src="compressed/People/boots.JPG" alt="boots-on-ground">
      </div>
    </div>
  </div>
</section>

<!-- Info Client Relationships -->

<section class="white-section container-fluid" id="info">
  <div class="constrained">
    <h1>OUR CLIENT RELATIONSHIPS</h1>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <img class="relationships-img" src="compressed/People/handshake.JPG" alt="firm-handshake">
      </div>
      <div class="col-lg-6 container-tiny section-left">
        <h5> Who are our main clients in PMV TEMPS? <br><br>
          Our main clients are other installers who need to scale up their
          install crews in larger projects.<br> <br>
          Often times, our client will love a set of workers so much that they remain
          working with one client the whole year! In these cases we work directly with the client to coordinate this
          team of employees to stay consistent with said client. <br> <br>
          Instead of other temp agencies that swap out workers
          as they are available, our workers are here to work and to stay for as long as they are needed.
        </h5>
      </div>
    </div>
</section>

<!-- Features -->

<section class="colored-section container-tiny" id="features">
  <div class="constrained">
    <div class="row">
      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-handshake fa-4x"></i>
        <h3 class="feature-title">Reliable.</h3>
        <p>Our employees work safely and skillfully.</p>
      </div>
      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-car-side fa-4x"></i>
        <h3 class="feature-title">Versatile.</h3>
        <p>We'll come to you- so long as you're not accross an ocean.</p>
      </div>
      <div class="container-small col-lg-4">
        <i class="icon fa-solid fa-circle-check fa-4x"></i>
        <h3 class="feature-title">Quality.</h3>
        <p>We focus on giving you the best service possible.</p>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section class="white-section" id="contact">
  <main class="form-signin2">
    <form class="container-fluid" action="https://formsubmit.co/6ed5438828438ae11b4981e59c54d865" method="POST">
      <img src="/images/PMVLogo.png" alt="" width="72" height="57">
      <h1>Request a Quote</h1>
      <br>
      <div class="row">
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="name" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="address" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px">
          <label for="floatingInput">Address</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating col-lg-6">
          <input type="text" class="form-control" name="phone" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px">
          <label for="floatingInput">Phone Number</label>
        </div>
        <div class="form-floating col-lg-12">
          <input type="text" class="form-control" name="subject" id="floatingInput" placeholder="name@example.com" style="margin-bottom: 5px" required>
          <label for="floatingInput">Subject</label>
        </div>
        <div class="form-floating col-lg-12 " style="margin-bottom: 5px">
          <textarea class="form-control form-control-lg" name="message" id="floatingInput" rows="10" cols="70" style="margin-bottom: 5px; height: 138px;"></textarea>
          <label for="floatingInput">Message</label>
        </div>
      </div>
      <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Check to Subscribe to PMVCorporations
          </label>
        </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
    </form>
  </main>
</section>

<!-- Testimonials -->

<section class="colored-section2 container-fluid" id="testimonials">
  <div id="carouselExampleControls" class="constrained carousel slide" data-bs-ride="false">
    <div class="carousel-inner container-fluid-lg3">
      <div class="carousel-item active" style="padding-bottom: 50px">
        <h5 class="testimonial-text">
          "I began working with PMV Installations in 2020. As a material handling installation company, they specialize in
          conveyor, pallet rack, mezzanines, and much more. Their crew is very knowledgeable and hard working. No job is too
          large or too small and they work well with the end customer. Our customers expect the highest level of performance
          from all aspects of what we offer, including the installation of material handling systems. In our customers eyes, the
          installers we contract are a direct reflection of our company. PMV Installations have consistently met our expectations
          and in many cases exceeded them. Starting and finishing a project on time and within budget is never in question.
          Performing the work with the utmost professionalism is done every time. PMV Installations have completed several jobs
          for us without disappointment. Their high speed and exceptional attention to detail is what we have become
          accustomed to. I can assure you; you will not be disappointed with PMV Installations!"</h5>
        <p><em>- Justin R. Brown,
            Chief Operating Officer,
            Green Earth Building Maintenance</em></p>
      </div>

      <!-- UNCOMMENT TO ADD TESTIMONIALS -->

      <!-- <div class="carousel-item" style="padding-bottom: 50px">
        <h4 class="testimonial-text">"When I see the PMV vests on site, I know the job's getting done quickly.</h4>
        <em>- Employee, Company B</em>
      </div>
      <div class="carousel-item" style="padding-bottom: 50px">
        <h4 class="testimonial-text">"I was very impressed with PMV's services. Quality and efficiency was just what we were looking for."</h4>
        <em>- Cheif Executive Officer, Company C</em>
      </div> -->

    </div>

    <!-- UNCOMMENT TO ACTIVATE BUTTONS -->

    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->

  </div>
</section>

<%- include("footer") %>
